body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: rgb(13, 58, 59);
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

main{
    border-radius: 2px;
    background: white;
    box-shadow: 0 5px 15px -10px;
    width: 450px;
    height: 500px;
    padding: 35px;
}

main .question{
    width: 100%;
    border: 3px solid dimgray;
    background: rgb(13, 58, 59);
    border-radius: 2px;
    height: 90px;
    text-align: center;
    line-height: 40px;
    font-size: 30px;
    color: white;
    padding: 3px 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
}

main .buttons{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        ". ."
        ". .";
    height: calc(100% - 110px);
    grid-gap: 15px;
    margin-top: 30px;
}

main .buttons button{
    border-radius: 2px;
    background: transparent;
    border-radius: 2px;
    border-color: hotpink;
    background: rgb(62, 173, 175);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14pt;
    color: rgb(33, 56, 56);
}

main .buttons button:active{
    background: rgba(28,28,28,0.1);
}